@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
:root {
    --primary-color: #0d2481;
    --secondary-color: #1E2329;
    --gray-color: #55595D;
    --body-font: 'Noto Sans', sans-serif;
}

*,
html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    font-family: var(--body-font);
}

li {
    cursor: pointer;
}


/* Navbar */

.logo {
    background-color: var(--secondary-color);
    height: 4rem;
    width: 250px;
}

.logo_text>h6 {
    letter-spacing: 5px;
}

.logo_text>span {
    FONT-WEIGHT: 400;
    color: var(--gray-color) !important;
    letter-spacing: 2px;
    font-size: 10px;
}

.logo>img {
    height: 37px;
    border-right: 1px solid var(--gray-color);
}

.sideItemDiv {
    background-color: var(--primary-color);
}

.nav-link {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 200;
    font-family: var(--body-font);
}


/* Show case */

.image {
    background-image: url('Assets/Images/bg.jpg');
    background-size: cover;
    background-position: center center;
}

.case_btn {
    background-color: var(--primary-color);
}

.case {
    opacity: 0.8;
    border-top: 3px solid var(--primary-color);
}

.ser_card {
    padding: 1rem;
    transform: translateY(0);
    transition: .3s ease-in-out;
}

.ser_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
}


/* Services */

.services {
    background-color: var(--primary-color);
}

.box_heading:before {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin-right: 5px;
    flex-shrink: 0;
}


/* Reach out */

.reach_out {
    background-color: var(--primary-color);
}

.reach_btn {
    background-color: #173198;
}


/* Media Query */

@media ( max-width: 425px) {
    .case_wrap {
        margin: 0 10px;
    }
    .case {
        padding: 25px !important;
    }
    .logos {
        margin: 20px 0;
    }
    .work_row {
        padding: 0px 20px;
    }
    .work_img {
        margin-top: 30px;
    }
    .showCase_card {
        margin-bottom: 50px;
    }
    .showCase_righttDiv {
        padding: 0 50px;
        text-align: center;
    }
    .showCase_righttDiv>hr {
        margin-top: 11px;
    }
    .ser_card {
        padding: 5px 0;
    }
}